body {
    background-color: pink;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: rgb(255, 0, 170);
}

button {
    font-size: 24px;
    padding: 10px 20px;
    background-color: #ff7f7f;
    border: none;
    border-radius: 8px;
}

#noBtn {
    position: absolute;
    transition: left 0.4s ease, top 0.4s ease;
}

button {
    display: block;
    margin: 10px auto;
    font-size: 24px;
    padding: 10px 20px;
    border-radius: 8px;
}

#valentineGif,
#celebrationGif {
    display: block;
    margin: 20px auto;
    width: 500px;
    transition: opacity 0.3s ease
}

#noHoverGif {
    display: block;
    margin: 20px auto;
    width: 500px;
}

#heart-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    overflow: hidden;
}
.heart {
    position: absolute;
    color:rgb(255, 82, 119)
    font-size: 24px;
    animation: fall 3s linear forwards;
}

@keyframes fall {
    0% { transform: translateY(-50px); opacity: 1; }
    100% { transform: translateY(100vh); opacity: 0;}
}

#buttonContainer {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
}

#buttonContainer button {
    font-size: 24px;
    padding: 10px 20px;
    border-radius: 8px;
}
